name: publish

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/publish.yml"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PRIVATE_REPO: ${{ secrets.PRIVATE_REPO }}

permissions:
  contents: write

jobs:
  upload-to-release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout private repository
        uses: actions/checkout@v5
        with:
          repository: ${{ env.PRIVATE_REPO }}
          token: ${{ secrets.ORG_TOKEN }}

      - name: Upload store MSIX to release
        uses: JasonWei512/Upload-Microsoft-Store-MSIX-Package-to-GitHub-Release@v1
        continue-on-error: true
        with:
          store-id: ${{ secrets.PARTNER_STORE }}
          token: ${{ secrets.GITHUB_TOKEN }}
          asset-name-pattern: ${{ secrets.PKCS12_NAME }}_{version}_{arch}
